main{
	display:flex;
	flex-direction: column;
	align-items: center;
}

.wrap_top{
	display:flex;
	width: 80%;
}



.test{
	height: 300px;
	width: 80%;
	background-color: yellow;
}

.task_content{
	display: flex;
	flex-wrap: wrap;
	/*width: 80%;*/
	/*column-gap: 1vw;
	row-gap: 1vw;*/
	justify-content: center;
}

/*start styles for flex*/
.flex{
	display: flex;
	margin-left: auto;
	margin-right: auto;
	align-items: flex-start;
	flex-direction: row;/*delete*/
	width: 80%;
}

.task{
	flex-grow: 1;
}

.categories{
	display: flex;
	gap: 10px;
	margin-bottom: 30px;
	font-size: 2rem;
}

.categories--item{
	padding: 10px;
	border-radius: 10px;
	border: green solid 1px;
}

.categories--item::first-letter {
	text-transform: uppercase;
}

/*end styles for flex*/

/*START styles for calculator*/
.calculator{
	display: grid;
	border-radius: 10px;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(4,1fr);
	grid-gap: 1px;
	margin-top: 30px;
	overflow: hidden;
	background-color: green;
	border: green 1px solid;
}

.calculator_key{
	font-size: 3rem;
	padding: 10px;
	cursor: pointer;
	background: #ffffff;
}

.calculator_key:hover{
	background-color: #68ff1e;
}

.calculator_key--enter,
.calculator_key--plus,
.calculator_key--minus{
	display: flex;
	align-items: center;
}

.calculator_key--enter{
	grid-column: 5/6;
	grid-row: 1/span 4;
}

.calculator_key--plus{
	grid-column: 4/5;
	grid-row: 1/span 2;
}

.calculator_key--minus{
	grid-column: 4/5;
	grid-row: 3/span 2;
}

.calculator_key--zero{
	grid-column: 1/span 3;
	display: flex;
	justify-content: center;
}

/*END styles for calculator*/

.block-numbers{
	display: flex;
	flex-wrap: wrap;
	width: 20%;
	background-color: green;
	/*column-gap: 1vw;
	row-gap: 1vw;*/
	justify-content: center;
}

.common{
	font-size: 3rem;
	margin-right: 1vw;
	margin-bottom: 1vw;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid green;
	cursor: pointer;
	transform: scale(1.0);
}

.common:hover{
	background-color: #FFC0CB;
	/*transform: scale(1.5);*/
}

.result{
	display:flex;
	width: 70%;
	margin: 10vh auto 0 auto;
	/*column-gap: 3vw;*/
}

.letter{
    display: flex;
	margin-right: 3vw;
	align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
	font-size: 5rem;
	border: 2px solid green;
	cursor: pointer;
	transform: scale(1.0);
}

.letter:hover{
	/*animation-name: hover;
	animation-duration: 1s;
	animation-fill-mode: forwards;*/
}

.reset{
	font-size: 2rem;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid green;
	cursor: pointer;
	justify-content: center;
	align-items: center;
}


/*figures*/
.square{
	border-radius: 10px;
}
.circle{
	border-radius: 50%;
}

.oval{
	height: 5vw;
	border-radius: 3vw/2.5vw;
}

/*animation*/
.animate-rotate-turn{
    animation-name: rotate-turn;
	animation-duration: 2s;
	animation-fill-mode: forwards;
}

.animate-rotate-deg{
    animation-name: rotate-deg;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.animate-scale{
	animation-name: scale;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes rotate-turn {
	from{
		transform: rotate(0turn);
	}
	to{
		transform: rotate(1turn);
	}
}

@keyframes rotate-deg {
	from{
		transform: rotate(180deg);
	}
	to{
		transform: rotate(360deg);
	}
}

@keyframes scale {
	from{
		transform: scale(0.5);
	}
	50%{
		transform: scale(1.5);
	}
	to{
		transform: scale(1);
	}
}

@keyframes hover {
	from{
		transform: scale(1.0);
	}
	to{
		transform: scale(1.5);
	}
}
